.speech{
    font-family: Times New Roman;
    font-size: 20px;
    color: black;
}
.stage-direction{
    font-family: Times New Roman;
    font-size: 20px;
    color: black;
    background-color:lightpink;
}
.name{
    font-family: Times New Roman;
    font-size: 20px;
    color: black;  
}
.stage-direction:hover{
    color:blue;
    background-color:cyan;
}
.HESTER{
    color:brown;
}
.LADYCAROLINE{
    color:chocolate;
}
.LADYHUNSTANTON{
    color:darkgreen;
}
.GERALD{
    color:darkred;
}
table{
    border:1px solid black;
    width:60%;
}
th{
    color: black;
    border: 1px solid black;
    text-align: center;
}
td{
    color:rebeccapurple;
    border: 1px solid black;
    text-align: left;
}
tr:nth-child(even) {
    background-color: burlywood;

}
